.message-count {
  background-color: #ff0000;
  color: #fff;
  padding: 2px 5px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
}


.wider-message-bar {
  width: 500px;
}

.message-scroll {
  max-height: 600px;
  overflow-y: auto;
}


.blue-bubble {
  color: cornflowerblue;
  font-size: 24px;
}
