
 <!-- Dark table -->
 <div class="row mt-5">
    <div class="col">
      <button class="add-button" type="button" [routerLink]="['/addResourceType']">Ajouter</button>
      <div class="card bg-default shadow">
        <!-- <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Product List</h3>
        </div> -->

        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ResourceTypeID</th>
                <th scope="col">ResourceType Name</th>
                <th>Delete</th>
                <th>Update</th>
                <th>Details</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of resourceTypes">
                <td>{{ item.resourceTypeID }}</td>
                <td>{{ item.resourceTypeName }}</td>
                <td><button  class="btn btn-danger" (click)="deleteResourceType(item.resourceTypeID)" >Delete</button></td>
                <td><button class="btn btn-danger" >Update</button></td>
                <button class="btn btn-danger" (click)="showResources(item.resourceTypeID)">view resources </button>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  