<div class="star-rating">
    <p>Average Rating: <span>{{ getStarRating() }}</span> {{ averageRating.toFixed(2) }}/5 ({{ totalReviews }}) Reviews</p>
  </div>
  
  <div  class="d-flex flex-start" *ngFor="let review of reviews">
    <mat-card class="w-100">
      <div fxLayout="row" class="hoho">
    <div  fxLayout="row" class="nameavatar">
      <img src="../../assets/avatar.jpg" class="rounded-circle shadow-1-strong me-3" >
      <h5>Mock user</h5>
    </div>
  
      <div class="date"> <p >{{ review?.dateSubmitted ?? ''}}</p>
          <div class="editing" *ngIf="editingReviewId === review?.reviewID && updatedReview">
            <ngx-star-rating [(ngModel)]="updatedReview.rating"></ngx-star-rating>
            <button mat-icon-button color="primary" (click)="saveUpdatedReview(review?.reviewID ?? 0)">
              <mat-icon>save</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="cancelEdit()">
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
        <div class="buttons">
        <button *ngIf="userId === review?.userID && !editingReviewId" mat-icon-button color="warn" (click)="deleteReview(review?.reviewID ?? 0)">
          <mat-icon>delete</mat-icon>
        </button>
        <button *ngIf="userId === review?.userID && !editingReviewId" mat-icon-button class="custom-color" (click)="editReview(review)">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      </div>
    </div>
      <mat-card-content class="p-4">
        <div fxLayout="row" class="rating">
          <p>★ {{review?.rating}}</p>
        </div>
        <div>
          <p class="reviewcontent" *ngIf="!editingReviewId || editingReviewId !== review?.reviewID">{{ review?.content }}</p>
          <textarea *ngIf="editingReviewId === review?.reviewID && updatedReview" [(ngModel)]="updatedReview.content" rows="4"></textarea>
        </div>
      </mat-card-content>
    </mat-card>
  </div>