<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
     style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hello Jesse</h1>
        <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with
          your work and manage your projects or assigned tasks</p>

        <button (click)="updateEvent()" class="btn btn-info" >Edit Event</button>

      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="col-xl-8 order-xl-1">
    <div class="card bg-secondary shadow">
      <div class="card-header bg-white border-0">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">My Event</h3>
          </div>

        </div>
      </div>
      <div class="card-body">
        <form>
          <h6 class="heading-small text-muted mb-4">Event information</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group select-wrapper">
                  <label class="form-control-label" for="input-username">Event name  </label>
                  <input type="text" id="input-username" class="form-control form-control-alternative"
                         placeholder={{event.name}} [(ngModel)]="event.name">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Event Type</label>
                  <select class="form-control"  [(ngModel)]="event.eventType">
                    <option *ngFor="let EventType of EventType" [value]="EventType.value">
                      {{EventType.viewValue}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>When to start ?</label>
                  <input type="date" class="form-control" [(ngModel)]="event.startDate"  placeholder={{event.startDate}}>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label>When to finish ?</label>
                  <input type="date" class="form-control" [(ngModel)]="event.endDate"  placeholder={{event.endDate}}>
                </div>
              </div>
            </div>
          </div>


          <hr class="my-4" />
          <!-- Address -->
          <h6 class="heading-small text-muted mb-4">Add Resources</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-control-label" for="input-address">Resource Type : </label>
                  <select class="form-control" [(ngModel)]="event.eventType">
                    <option *ngFor="let EventType of event" [value]="ResourceType.value">
                      {{ResourceType.viewValue}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-control-label" for="input-address">Resource </label>
                  <select class="form-control" [(ngModel)]="event.eventType">
                    <option *ngFor="let EventType of event" [value]="Resource.value">
                      {{Resource.viewValue}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <hr class="my-4" />
          <!-- Description -->
          <h6 class="heading-small text-muted mb-4">Description</h6>
          <div class="pl-lg-4">
            <div class="form-group">
              <label>About event </label>
              <textarea rows="4" class="form-control form-control-alternative"
                        placeholder="A few words about you ...">A beautiful Description for your event</textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
