.notification-count {
  background-color: #ff0000;
  color: #fff;
  padding: 2px 5px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
}

.navbar-color {
  background-color: #ff4d4d; /* Reddish color */
}