<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <h1 class="text-white">Welcome admin!</h1>
            <p class="text-lead text-light">This is a list of the user's submitted feedbacks, please respond precisely.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">All user feedbacks </h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
              <tr>
                <th scope="col">Feedback Id</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Feedback type</th>
                <th scope="col">Content</th>
                <th scope="col">Response</th>
                <th scope="col">Feedback Date</th>
                <th scope="col">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let reclamation of reclamationList; let i = index">
                <td>{{ reclamationList[i].idRec }}</td>
                <td>{{ usernames[i] }}</td>
                <td>{{ emails[i] }}</td>
                <td>{{ reclamationList[i].typeRec }}</td>
                <td>{{ reclamationList[i].content }}</td>
                <td>{{ reclamationList[i].reponse }}</td>
                <td>{{ reclamationList[i].dateReclamation }}</td>
                <td *ngIf="reclamationList[i].reponse === null; else alreadyResponded">
                  <div>
                    <input type="text" #responseInput placeholder="Enter your response">
                    <button class="btn btn-success" (click)="respondToReclamation(i, responseInput.value)">Respond</button>
                  </div>
                </td>
                <ng-template #alreadyResponded>
                  <td>
                    Already responded
                  </td>
                </ng-template>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


