<div class="homepage">
  <!-- Big wide picture of the most anticipated event -->
  <div class="jumbotron jumbotron-fluid" style="background-image: url('assets/maxresdefault.jpg');">
    <div class="container">
      <h1 class="display-4">Most Anticipated Event</h1>
      <p class="lead">Description of the event goes here...</p>
      <button class="btn btn-primary">Register Now</button>
    </div>
    <!-- Three-row rectangle -->
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">No of Registered</h5>
              <p class="card-text">Number of registered attendees</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Location</h5>
              <p class="card-text">Location of the event</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Date</h5>
              <p class="card-text">Date of the event</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Other events section -->
  <div class="container">
    <div class="row">
      <!-- Event picture on the right -->
      <div class="col-md-6">
        <img src="assets/50_Top_2018_Index_Bangkok_CountdownCentral_World_0.jpg" alt="Event Picture" class="img-fluid">
      </div>
      <!-- Title, description, and button on the left -->
      <div class="col-md-6">
        <h2>Other Event Title</h2>
        <p>Description of the event goes here...</p>
        <button class="btn btn-primary">Learn More</button>
      </div>
    </div>
  </div>
</div>
