<div *ngIf="resource">
  <h2>Update Resource</h2>
  <form (submit)="updateResource()">
    <div>
      <label for="resourceName">Resource Name:</label>
      <input type="text" id="resourceName" name="resourceName" [(ngModel)]="resource.resourceName">
    </div>
    <div>
      <label for="isAvailable">Is Available:</label>
      <input type="checkbox" id="isAvailable" name="isAvailable" [(ngModel)]="resource.isAvailable">
    </div>
    <div>
      <label for="date">Date:</label>
      <input type="date" id="date" name="date" [(ngModel)]="resource.date">
    </div>
    <div>
      <label for="resourceType">Resource Type:</label>
      <select id="resourceType" name="resourceType" [(ngModel)]="resource.resourceType">
        <option *ngFor="let type of resourceTypes" [ngValue]="type">{{ type.resourceTypeName }}</option>
      </select>
    </div>
    <button type="submit">Update Resource</button>
  </form>
</div>

  