<div class="homepage">
  <!-- Big wide picture of the most anticipated event -->
  <div class="jumbotron jumbotron-fluid" style="background-image: url('assets/50_Top_2018_Index_Bangkok_CountdownCentral_World_0.jpg');">
    <div class="container" >
      <h1 class="display-4">Most Anticipated Event</h1>
      <p class="lead">Description of the event goes here...</p>
      <button class="btn btn-primary">Register Now</button>
    </div>
    <!-- Three-row rectangle -->
    <div class="container">
      <div class="row">
        <div style="width: 18rem;">
          <div class="card card-stats mb-4 mb-lg-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Total traffic</h5>
                  <span class="h2 font-weight-bold mb-0">350,897</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Location</h5>
              <p class="card-text">Location of the event</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Date</h5>
              <p class="card-text">Date of the event</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Other events section -->
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/maxresdefault.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
